{% extends 'base.html.twig' %}

{% block body %}
    <section>
       {# todo :Afficher le formulaire de creation#}

    </section>

{% endblock %}

{% block title %}
    Create a new serie | {{ parent() }}
{% endblock %}

