{% extends 'base.html.twig' %}

{% block body %}
    <section>
        todo :Afficher les series

    </section>

{% endblock %}

{% block title %}
    The best series | {{ parent() }}

{% endblock %}

